version: '3'

name: test-pages-deploy

services:

  nginx:
    image: nginx:1.26
    container_name: test-nginx
    ports:
      - "80:80"
    volumes:
      - /root/test/test-pages-deploy/frontend/nginx.conf:/etc/nginx/nginx.conf
      - /root/test/test-pages-deploy/frontend/conf:/etc/nginx/conf.d
      - /root/test/test-pages-deploy/frontend/html:/usr/share/nginx/html
    environment:
      - TZ=Asia/Shanghai
    networks:
      - app-network

  redis:
    image: redis:8
    container_name: test-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - app-network

volumes:
  redis-data:

networks:
  app-network:
