version: '3'

services:
  backend:
    build: .
    image: test-deploy-backend
    container_name: test-deploy-app
    ports:
      - "8080:8080"
    networks:
      - app-network

networks:
  app-network:
