version: '3'

name: test-pages-deploy

services:

  redis:
    image: redis:8
    container_name: test-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - app-network

volumes:
  redis-data:

networks:
  app-network:
